.img1{
    width: 490px !important; 
}
.btn{ 
    width: 120px;
    height: 40px;
    background-color: #49BBBD;
    border:0;
    border-radius: 8px;
    color: #ffffff !important; 
}
.home{
    margin-left: 300px;
}