.star-rating {
    font-size: 30px;
  }
  
  .star-rating label {
    margin: 0;
    padding: 0;
    display: inline-block;
  }
  
  .star-rating input {
    display: none;
  }
  
  .star-rating label span {
    color: #ddd ;
    cursor: pointer;
    
  }
  
  .star-rating label span.active {
    color: #ffcc00;
  }
  